@using Entities
@using Business.Interfaces

@inject ICrudDataService<ProductEntity> productService
@inject ICrudDataService<CategoryEntity> categoryService

<div>
    <EditForm Model=@newProduct>
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="ProductId">Referencia:</label>
            <InputText id="ProductId" @bind-Value="newProduct.ProductId" class="form-control" />
            <ValidationMessage For="@(() => newProduct.ProductId)" class="text-danger" />
        </div>
        <div class="form-group">
            <label for="ProductName">Nombre del producto:</label>
            <InputText id="ProductName" @bind-Value="newProduct.ProductName" class="form-control" />
            <ValidationMessage For="@(() => newProduct.ProductName)" class="text-danger" />
        </div>
        <div class="form-group">
            <label for="ProductDescription">Descripción:</label>
            <InputTextArea id="ProductDescription" @bind-Value="newProduct.ProductDescription" class="form-control" />
            <ValidationMessage For="@(() => newProduct.ProductDescription)" class="text-danger" />
        </div>
        <div class="form-group">
            <label for="TotalQuantity">Cantidad de producto:</label>
            <InputNumber id="TotalQuantity" @bind-Value="newProduct.TotalQuantity" class="form-control" />
            <ValidationMessage For="@(() => newProduct.TotalQuantity)" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Categoría:</label>
            <InputSelect @bind-Value="newProduct.CategoryId" class="form-control">
                <option value="">Seleccione una categoría...</option>
                @foreach (var category in categories)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Agregar producto" @onclick="Save" />
        </div>
    </EditForm>
</div>

@code {
    ProductEntity newProduct = new ProductEntity();
    List<CategoryEntity> categories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        categories = categoryService.ItemList();
    }

    private void Save()
    {
        productService.CreateItem(newProduct);
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}